.bg-color {
    background-color: rgb(202, 20, 20);
}

.bg-home {
    width: 100%;
  height: 140vh;
  /* background: linear-gradient(to top, #ff0000, #0000ff); */
  background: linear-gradient(
    to top,
    whitesmoke 0%,
    whitesmoke 50%,
    rgb(202, 20, 20) 50%,
    rgb(202, 20, 20) 100%
  );
}

.finish-status {
    width: 200px;
    background-color: rgb(150, 228, 150);
    color: green;
}

.text-gray{
    color: gray;
}
.container-title {
    width: 50%;
    margin-left: 200px;
}
.text-white {
    color: white;
}

.text-red {
    color: rgb(202, 20, 20);
}

.form-auth {
    width: 80%;
    margin: auto;
}

.profile-picture {
    width: 55px;
    height: 55px;
    object-fit: cover;
    border:  solid 3px white;
}

.foto {
    width: 30%;
}

.relative-container {
    position: relative;
    border: 2px;
}

.position-absolute-1{
    position: absolute;
    top: 30px;
    right: 0;
}
.position-absolute-2{
    position: absolute;
    top: 700px;
    right: 100px;
    width: 55%;
}

.position-absolute-3 {
    position: absolute;
    top: 400px;
    left: 0px;
}

.btn-donasi {
    border: none;
    border-radius: 15px;
    width: 150px;
}

.btn-fund {
    border: none;
    border-radius: 15px;
    width: 200px;
    height: 50px;
}

/* profile Page */

.img-profile {
    object-fit: cover;
    width: 200px;
    height: 250px;
}

.textarea1 {
    height: 250px;
    resize: none;
}

.input-form{
    height: 55px;
    background-color: rgb(223, 220, 220);
}